.curve {
  height: 50px;
  position: relative;
  overflow: hidden;
  z-index: 20;
}

.curve::after {
  content: '';
  display: block;
  width: 250%;
  height: 900px;
  background: #F9F9F9;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top_curve {
  top: 50px;
  height: 100px;  /* increased from 50px */
  overflow: hidden;
}


.top_curve::after{
  top: -800px;
}

.bottom_curve {
  bottom: 50px;
  height: 120px;  /* increased from 50px */

}

